<% if (title) { %>
<h1><%= title %></h1>
<% } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="form-container">
  <form class="form-flex" method="post" action="/account/update">
    <h2>Account Update</h2>
    <label class="field-margin" for="account_firstname">First name</label>
    <input class="field-margin input" required value="<%= locals.account_firstname %>" name="account_firstname" id="account_firstname" type="text" />

    <label class="field-margin" for="account_lastname">Last name</label>
    <input class="field-margin input" required value="<%= locals.account_lastname %>" name="account_lastname" id="account_lastname" type="text" />

    <label class="field-margin" for="account_email">Email</label>
    <input class="field-margin input" required value="<%= locals.account_email %>" name="account_email" id="account_email" type="email" />

    <input class="field-margin submit" type="submit" value="Update" />

    <input type="hidden" name="account_id"
  <% if(locals.id) { %> value="<%= locals.id %>"
  <% } %>>
  </form>
</div>
<br>
<div class="form-container">
  <form class="form-flex" method="post" action="/account/changePassword">
    <h2>Change Password</h2>

    <label class="field-margin" for="account_password">Password</label>
    <span class="pass_required"
        >By entering a password it will change the current password. Passwords must be at least 12 characters and contain at least 1 number, 1
        capital letter and 1 special character.</span
      >
    <input class="field-margin input" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" name="account_password" id="account_password" type="password" />

    <input class="field-margin submit" type="submit" value="Change" />

    <input type="hidden" name="account_id"
  <% if(locals.id) { %> value="<%= locals.id %>"
  <% } %>>
  </form>
</div>